/* This stylesheet is loaded when Sabaki starts up. */
/* alter the root colours when creating a new theme */
:root {
    --stone-colour-black: #2e3440;
    --stone-colour-white: #d8dee9;
    --highlight-colour-black: #ebcb8b;
    --highlight-colour-white: #bf616a;
    --background-colour: #292E39;
    --board-colour: #4c566a;
    --border-colour: #3b4252;
    --stone-gaps: 0.04em;
}

/* remove the background-image */
.shudan-goban-image {
    background-image: none;
}

/* style the board and stone highlights */
.shudan-goban {
    --shudan-board-border-width: 0.25em;
    --shudan-board-border-color: var(--border-colour);

    --shudan-board-background-color: var(--board-colour);
    --shudan-board-foreground-color: var(--stone-colour-black);

    /* --shudan-black-background-color: #12f; */
    --shudan-black-foreground-color: var(--highlight-colour-black);

    /* --shudan-white-background-color: #fff; */
    --shudan-white-foreground-color: var(--highlight-colour-white);
}

/* remove gradient on board */
.shudan-goban::after {
    background: none;
}

.shudan-stone-image {
    background-image: none;
}

/* remove stone images and create circles */
.shudan-stone-image.shudan-sign_-1,
.shudan-stone-image.shudan-sign_1 {
    background-image: none;
    border-radius: 50%;
}

/* black stone colours */
.shudan-stone-image.shudan-sign_1{
    background-color: var(--stone-colour-black);
}

/* white stone colours  */
.shudan-stone-image.shudan-sign_-1{
    background-color: var(--stone-colour-white);
}

main {
    background: var(--background-colour);
}

#goban {
    box-shadow: none;
}

.shudan-vertex:not(.shudan-sign_0) .shudan-shadow{
    background: none;
    box-shadow: none;
}

/* bottom status bar */
/* #bar { */
/*     background: var(--stone-colour-black) ; */
/* } */

/* line colour in the tree  */
/* this changes all branches, and will not change colour of alternate branches like the default setting */
/* polyline { */
    /* stroke: var(--stone-colour-white); */
/* } */

/* basic node colours in the tree */
/* .node { */
    /* fill: var(--stone-colour-white); */
/* } */

/* highlight current node in game tree */
#graph svg .current.node {
    /* fill: var(--highlight-colour-white); */
    stroke: var(--highlight-colour-white);
}

/* alter the size of stones */
.shudan-vertex .shudan-stone {
    top: 0.04em;
    left: 0.04em;
    width: calc(100% - var(--stone-gaps));
    height: calc(100% - var(--stone-gaps));
}
